@import url("https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
.awards {
  background-color: #dddddd;
  padding-top: 50px;
}

.awards div {
  padding-bottom: 50px;
}

.awards h2 {
  text-decoration: underline;
}

.rounded {
  max-height: 400px;
  width: auto;
}

.awards h2, p {
  font-family: 'Comfortaa', cursive;
  color: #2b2b2b;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
