$greyC: #2b2b2b;
$whiteC: rgb(221, 221, 221);
$blueC: rgb(234, 242, 255);
$orangeC: #e5c08e;

$breakpoint: 576px;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap');


ul, li {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

.liitem {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  flex-flow: wrap;
}

.wbox {
  width: 30vw;
  height: auto;
  display: inline-block;
  background-color: white;
  margin-right: 10vw;
  margin-top: 10vh;
  float: right;
}

.wboxt {
  padding: 20px 10px 0px 10px;
}

#liitem1 {
  background-image: url("../img/babyme.jpg");
}

#liitem2 {
  background-image: url("../img/jan25.jpg");
}

#liitem3 {
  background-image: url("../img/meccano.jpg");
}

#liitem4 {
  background-image: url("../img/NIS.jpg");
}

#liitem5 {
  background-image: url("../img/richard.jpg");
}

#liitem6 {
  background-image: url("../img/paraz.jpg");
}

#liitem7 {
  background-image: url("../img/roz.jpg");
}

.wbox h2, p {
  text-align: center;
}

.wbox h2 {
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 1.6rem;
}

.wboxt p {
  font-family: 'Comfortaa', cursive;
  font-size: 0.9rem;
  padding-top: 10px;
}



@media (min-width: 992px) {

}

@media (max-width: 991px) {
  .wbox {
    width: 45vw;
  }
}

@media (max-width: 576px) {
  .wbox {
    width: 70vw;
    float: center;
  }
}
