$greyC: #2b2b2b;
$whiteC: rgb(221, 221, 221);

$breakpoint: 576px;

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


.aboutme {
  background-color: $whiteC;
  display: inline-block;
  width: 100%;
  padding-top: 50px;
}

.aboutme h1 {
  font-family: 'Damion', cursive;
  text-decoration: underline;
}

.aboutme p {
  padding-left:50px;
  padding-right: 50px;
  color: $greyC;
  text-align: left;
  font-family: 'Comfortaa', monospace;
}

.aboutme h1 {
  color: $greyC;
  text-align: center;
}


@media (max-width: 991px) {
  .btn-outline-light {
    color: red;
    border: 1px solid red;
  }
}


/* Responsiveness to different screens */
/***************************************/
@media (min-width: 992px) {
  .btHeader {
    margin-left: 35px;
    top: 44vh;
  }
  #btns {
    margin-left: 20vw;
  }
}

@media (max-width: 991px) {
  .btHeader {
    margin-right: 10px;
    left: 20px;
    top: 24vh;
  }
  #btns {
    margin-left: 20vw;
  }
  .btn-outline-dark {
    color: red;
    border: 1px solid red;
  }
}

@media (max-width: 576px) {
  .btHeader {
    left: 0px;
    margin-right: 10px;
    top: 16vh;
  }
}
