$greyC: #2b2b2b;
$whiteC: rgb(221, 221, 221);
$blueC: rgb(234, 242, 255);
$orangeC: #e5c08e;

$breakpoint: 576px;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap');


p {
  margin: 0;
}

.expb {
  background-color: $orangeC;
  display: flex;
  width: 100%;
}

.expbox {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.resbtn {
  text-align: center;
  margin: 30px;
}

.resbtn h2 {
  font-family: "Pacifico", sans-serif;
  text-decoration: underline;
}

.expbox button {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 2.5rem;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  border: 1px solid black;
  font-family: 'Damion', sans-serif;
}

.expbox button:hover {
  color: $orangeC;
  background-color: black;
}

.titleH {
  color: black;
  font-style: oblique;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.org {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.cBlock {
  display: block;
  width: 100%;
}

.st {
  font-weight: bold;
}

.orgN {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}

.orgCity {
  display: inline-block;
  text-align: left;
  font-weight: lighter;
  font-size: 1rem;
}

.role {
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
}

.timing {
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
}

.cntn {
  display: inline-block;
  text-align: left;
  font-size: 1rem;
}

.footer {
  background-color: $orangeC;
}


@media (max-width: 576px) {
  .expbox {
    width: 85%;
  }

  .titleH {
    font-size: 1.7rem;
  }

  .orgN {
    font-size: 1.2rem;
  }

  .role {
    font-size: 0.9rem;
  }

  .orgCity .timing .cntn {
    font-size: 0.7rem;
  }
}
