$color: #2176DB;


@font-face {
font-family: BaskervilleFull;
src: url(baskerville-italic.woff);
font-style: italic;
}

body {
  background-color: $color;
}

#header1 {
  background-image: url("bck.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  position: relative;
}


#ed1 {
  width:auto;
  background-color: rgb(43, 43, 43);
  height: 70vh;
}

#ed1 h1 {
  color: rgb(221, 221, 221);;
  text-align: center;
  padding-top: 60px;
  font-family: BaskervilleFull;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .btHeader {
    margin-left: 35px;
    top: 44vh;
  }
  #btns {
    margin-left: 20vw;
  }
}

@media (max-width: 991px) {
  .btHeader {
    margin-right: 10px;
    left:20px;
    top: 24vh;
  }
  #btns {
    margin-left: 20vw;
  }
  .btn-outline-light {
    color: red;
    border: 1px solid red;
  }

}

@media (max-width: 576px) {

  .btHeader {
    left: 0px;
    margin-right: 10px;
    top: 16vh;
  }
}
