$color: rgb(221, 221, 221);
$lineColor: rgb(221, 221, 221);
$fontColor: #2b2b2b;
$bgColor1: #2b2b2b;
$bgColor2: #2b2b2b;
$yearBgColor: #2b2b2b;
$greyC: #2b2b2b;
$whiteC: rgb(221, 221, 221);

$breakpoint: 576px;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap');

@font-face {
  font-family: BaskervilleFull;
  src: url(baskerville-italic.woff);
  font-style: italic;
}

#header1 {
  background-image: url("bck.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  position: relative;
}


.introP {
  background-color: $greyC;
  width: 100%;
  display: flex;
}

.introP .box {
  width: 70vw;
  border: 2px solid $whiteC;
  margin-top: 70px;
  margin-left: 15vw;
  margin-bottom: 50px;
}

.mastra {
  color: $whiteC;
  position: relative;


  &::before {
    content: '';
    position: absolute;
    width: 80%;
    border: 1px solid $whiteC;
    margin-left: 7vw;
    top: 0;
  }
}

.introP p, h1 {
  color: $whiteC;
}

.introP h1 {
  font-family: 'Damion', sans-serif;
  text-align: center;
  font-size: 3.5em;
}

/*Gloria Hallelujah*/
.introP p {
  padding: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 1.5em;
}

#ed1 {
  width: auto;
  background-color: $whiteC;
  height: 580px;
  width: 100%;
}

.he1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 3rem;
  font-family: 'Damion', monospace;
}

#ed1 .he1 {
  color: $greyC;
}

.contact {
  background-color: $greyC;
  padding-bottom: 2vw;
}

.contact .he1 {
  color: $whiteC;
}

.icon1 {
  margin-left: 5vw;
  color: $whiteC;
}

.material-icons {
  margin-left: 4.7vw;
  color: $whiteC;
  margin-top: 5px;
}

.contact a {
  padding: 5px;
  color: $whiteC;
}
.contact a:hover{
  text-decoration: underline blue;
}

.footer {
  background-color: $whiteC;
}

.footer .material-icons {
  color: $greyC;
}

.fwd {
  text-align: center;
}

.ffic {
  font-size: 2rem;
  padding-left: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  color: $greyC;
}

.icon2 {
  color: $greyC;
}

.cpyr {
  text-align: center;
}

.cpyr p {
  font-family: 'Damion', monospace;
}

@media (min-width: 992px) {
  .btHeader {
    margin-left: 35px;
    top: 44vh;
  }
  #btns {
    margin-left: 20vw;
  }
}

@media (max-width: 991px) {
  .btHeader {
    margin-right: 10px;
    left: 20px;
    top: 24vh;
  }
  #btns {
    margin-left: 20vw;
  }
  .btn-outline-light {
    color: red;
    border: 1px solid red;
  }

  .introP .box {
    margin-top: 40px;
  }

  .introP h1 {
    font-size: 2.8rem;
  }

  .introP p {
    font-size: 1.35rem;
  }

  .he1 {
    padding-top: 20px;
  }
}

@media (max-width: 576px) {
  .btHeader {
    left: 0px;
    margin-right: 10px;
    top: 16vh;
  }

  .introP h1 {
    font-size: 2.5rem;
  }

  .introP p {
    font-size: 1.2rem;
  }
}


/*********************/
/* Education Timeline*/


.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid $greyC;
    right: 40px;
    top: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (min-width: $breakpoint) {
    padding: 2rem;
    &:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
}

.timeline__item {

  padding: 1rem;
  border: 2px solid $greyC;
  border-image: linear-gradient(to right, $greyC 0%, $greyC 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;

  &:after,
  &:before {
    content: '';
    position: absolute;
  }

  &:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: $greyC $greyC transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }

  @media screen and (min-width: $breakpoint) {
    width: 44%;
    margin: 1rem;

    &:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, $greyC 0%, $greyC 100%);
      border-image-slice: 1;

      &:before {
        right: auto;
        left: -10px;
      border-color:transparent transparent $greyC $greyC;
      }
    }
  }
}

.timeline__item--year {
    text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: $whiteC;
  line-height: 1;
  border-image: none;
  padding: .5rem 1rem 1rem;
  color: $greyC;

  &:before {
    display: none;
  }

  @media screen and (min-width: $breakpoint) {
    text-align: center;
      margin: 0 auto;

    &:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;

      &:before {
        display: none;
      }
    }
  }
}

.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: $greyC;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: .5rem 0 0;
  color: $greyC;
}

/* Education timeline end*/
/*************************/
