$greyC: #2b2b2b;
$whiteC: rgb(221, 221, 221);

$breakpoint: 576px;

@import url('https://fonts.googleapis.com/css2?family=Damion&family=Gloria+Hallelujah&family=Pacifico&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.awards {
  background-color: $whiteC;
  padding-top: 50px;
}

.awards div {
  padding-bottom: 50px;
}

.awards h2 {
  text-decoration: underline;
}

.rounded {
  max-height: 400px;
  width: auto;
}

.awards h2, p {
  font-family: 'Comfortaa', cursive;
  color: $greyC;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}



@media (max-width: 991px) {
  .btn-outline-light {
    color: red;
    border: 1px solid red;
  }
}


/* Responsiveness to different screens */
/***************************************/
@media (min-width: 992px) {
  .btHeader {
    margin-left: 35px;
    top: 44vh;
  }
  #btns {
    margin-left: 20vw;
  }
}

@media (max-width: 991px) {
  .btHeader {
    margin-right: 10px;
    left: 20px;
    top: 24vh;
  }
  #btns {
    margin-left: 20vw;
  }
  .btn-outline-dark {
    color: red;
    border: 1px solid red;
  }
}

@media (max-width: 576px) {
  .btHeader {
    left: 0px;
    margin-right: 10px;
    top: 16vh;
  }
}
