@font-face {
  font-family: BaskervilleFull;
  src: url(baskerville-italic.woff);
  font-style: italic;
}

body {
  background-color: #2176DB;
}

#header1 {
  background-image: url("bck.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  position: relative;
}

#ed1 {
  width: auto;
  background-color: #2b2b2b;
  height: 580px;
}

#ed1 h1 {
  color: #dddddd;
  text-align: center;
  padding-top: 60px;
  font-family: BaskervilleFull;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .btHeader {
    margin-left: 35px;
    top: 44vh;
  }
  #btns {
    margin-left: 20vw;
  }
}

@media (max-width: 991px) {
  .btHeader {
    margin-right: 10px;
    left: 20px;
    top: 24vh;
  }
  #btns {
    margin-left: 20vw;
  }
  .btn-outline-light {
    color: red;
    border: 1px solid red;
  }
  #ed1 h1 {
    padding-top: 20px;
  }
}

@media (max-width: 576px) {
  .btHeader {
    left: 0px;
    margin-right: 10px;
    top: 16vh;
  }
}

.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}

.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  border: 1px solid #dddddd;
  right: 40px;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 576px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid #dddddd;
  border-image: linear-gradient(to right, #dddddd 0%, #dddddd 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}

.timeline__item:after, .timeline__item:before {
  content: '';
  position: absolute;
}

.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: #dddddd #dddddd transparent transparent;
  border-width: 10px;
  transform: rotate(45deg);
}

@media screen and (min-width: 576px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    border-image: linear-gradient(to right, #dddddd 0%, #dddddd 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent #dddddd #dddddd;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: #2b2b2b;
  line-height: 1;
  border-image: none;
  padding: .5rem 1rem 1rem;
  color: #dddddd;
}

.timeline__item--year:before {
  display: none;
}

@media screen and (min-width: 576px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #dddddd;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: .5rem 0 0;
  color: #dddddd;
}
